{% comment %}
  Renders share button.
  Accepts:
  - block: {Object} passes in the block information.
  - share_link: {String} url to be added to the input the user will get/copy.

  Usage:
  {% render 'share-button',
  block: block,
  share_link: share_url
  %}
{% endcomment %}
<script src="{{ 'share.js' | asset_url }}" defer="defer"></script>

<share-button
  id="Share-{{ section.id }}"
  class="share-button quick-add-hidden"
  {{ block.shopify_attributes }}>
  <button class="share-button__button hidden">
    {% comment %} {% render 'icon-share' %} {% endcomment %}
    {{ block.settings.share_label | escape }}
  </button>
  <details id="Details-{{ block.id }}-{{ section.id }}">
    <summary class="custom-share-button__button share-button__button">
      {% comment %} {% render 'icon-share' %} {% endcomment %}
      {{ block.settings.share_label | escape }}:

      <svg
        width="20"
        height="20"
        viewBox="0 0 20 20"
        fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path d="M13.3335 2.5C11.0704 2.5 9.23374 4.32864 9.1847 6.5804C7.18377 6.34042 5.8808 5.59229 5.08151 4.85514C4.19513 4.03766 3.91452 3.31136 3.91452 3.31136C3.87356 3.20814 3.80583 3.1177 3.71831 3.04934C3.6308 2.98098 3.52665 2.93717 3.41658 2.92242C3.30651 2.90767 3.1945 2.9225 3.09207 2.9654C2.98965 3.0083 2.90049 3.07772 2.83379 3.1665C2.83379 3.1665 2.08347 4.16667 2.08347 5.625C2.08347 6.45874 2.34671 7.07565 2.66045 7.59847C2.6489 7.59306 2.57093 7.56592 2.57093 7.56592C2.47132 7.51618 2.36023 7.49396 2.24915 7.50154C2.13807 7.50912 2.03104 7.54623 1.9391 7.60904C1.84717 7.67185 1.77369 7.75807 1.72624 7.8588C1.6788 7.95952 1.65912 8.07109 1.66924 8.18197C1.66924 8.18197 1.9098 9.94035 3.56296 11.2256L3.39043 11.2687C3.29678 11.2921 3.20982 11.3368 3.13636 11.3995C3.0629 11.4621 3.00494 11.5409 2.96702 11.6296C2.9291 11.7184 2.91225 11.8147 2.9178 11.9111C2.92335 12.0075 2.95114 12.1012 2.99899 12.1851C2.99899 12.1851 3.27932 12.6593 3.86651 13.1584C4.21465 13.4543 4.72608 13.7597 5.32891 14.0422C4.58858 14.3127 3.48464 14.5833 1.87513 14.5833C1.75503 14.5833 1.63747 14.6179 1.53651 14.683C1.43555 14.748 1.35546 14.8408 1.30584 14.9501C1.25622 15.0595 1.23916 15.1809 1.2567 15.2997C1.27424 15.4185 1.32565 15.5297 1.40476 15.6201C1.40476 15.6201 1.88235 16.1463 2.82647 16.604C3.77058 17.0618 5.22491 17.5 7.2918 17.5C10.925 17.5 13.5354 15.7571 15.1645 13.5482C16.7936 11.3392 17.5001 8.69213 17.5001 6.66667C17.5001 6.53814 17.4921 6.41143 17.4806 6.28581C18.3603 5.43817 18.6904 4.80093 18.7062 4.76969C18.7854 4.61094 18.7559 4.42029 18.6329 4.29362C18.5104 4.16654 18.3206 4.13075 18.1593 4.20492L18.0918 4.23584C18.0339 4.26251 17.9759 4.28934 17.9176 4.31559C18.0872 4.04518 18.221 3.7562 18.3139 3.45703C18.3656 3.29203 18.3098 3.11122 18.1731 3.00456C18.0365 2.89789 17.8482 2.88647 17.7003 2.97689C17.1911 3.2864 16.7029 3.50308 16.1948 3.64827C15.447 2.93895 14.4405 2.5 13.3335 2.5ZM13.3335 3.75C14.9515 3.75 16.2501 5.04868 16.2501 6.66667C16.2501 8.3912 15.6025 10.8483 14.1587 12.806C12.7149 14.7637 10.5336 16.25 7.2918 16.25C5.72297 16.25 4.67938 15.9662 3.89743 15.6592C4.71653 15.532 5.42178 15.3622 5.92868 15.166C6.80771 14.8257 7.28204 14.4328 7.28203 14.4328C7.36904 14.3581 7.43383 14.2609 7.46931 14.1519C7.5048 14.0429 7.50961 13.9262 7.48323 13.8146C7.45685 13.7031 7.40029 13.6009 7.31973 13.5193C7.23918 13.4377 7.13773 13.3799 7.0265 13.3521C5.89203 13.0684 5.16444 12.6097 4.70798 12.2274L5.35983 12.0646C5.48875 12.0324 5.60405 11.96 5.68902 11.8579C5.77399 11.7557 5.8242 11.6292 5.83236 11.4966C5.84052 11.3639 5.80622 11.2322 5.73442 11.1204C5.66262 11.0086 5.55707 10.9226 5.43308 10.8748C4.08094 10.3548 3.51315 9.61932 3.22279 9.00309C3.57611 9.07624 3.90509 9.16667 4.37513 9.16667C4.51589 9.16655 4.65248 9.11893 4.7628 9.03152C4.87313 8.94411 4.95072 8.82202 4.98301 8.68502C5.01531 8.54803 5.00042 8.40414 4.94076 8.27665C4.88109 8.14917 4.78015 8.04556 4.65427 7.98258C4.65427 7.98258 3.33347 7.375 3.33347 5.625C3.33347 5.31081 3.42048 5.11181 3.48402 4.87386C3.70201 5.16681 3.88167 5.44941 4.23353 5.77393C5.30631 6.76331 7.07945 7.77215 9.75843 7.91585C9.8432 7.92038 9.92801 7.90758 10.0077 7.87826C10.0873 7.84893 10.1602 7.80369 10.2218 7.74528C10.2834 7.68688 10.3325 7.61653 10.366 7.53855C10.3995 7.46056 10.4168 7.37656 10.4168 7.29167V6.66667C10.4168 5.04868 11.7155 3.75 13.3335 3.75Z" fill="#5B5B5B" />
      </svg>

      <svg
        width="20"
        height="20"
        viewBox="0 0 20 20"
        fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path d="M11.5372 0.848633C10.1708 0.848633 9.01122 1.2717 8.22989 2.12061C7.44856 2.96952 7.08243 4.18019 7.08243 5.62484V7.08317H5.63223C4.82905 7.08317 4.16595 7.75184 4.1739 8.55534L4.18611 9.80697C4.18611 9.80724 4.18611 9.80751 4.18611 9.80778C4.19549 10.6001 4.85291 11.2522 5.64607 11.2515L7.08324 11.2507V18.1248C7.08324 18.9227 7.74368 19.5832 8.54157 19.5832H10.2082C11.0061 19.5832 11.6666 18.9227 11.6666 18.1248V11.2498H12.9565C13.6914 11.2498 14.3196 10.69 14.405 9.95996L14.5507 8.70996C14.6501 7.85431 13.9639 7.08317 13.1021 7.08317H11.6747L11.6926 5.71354C11.6926 5.71083 11.6926 5.70812 11.6926 5.7054C11.6926 5.41964 11.9098 5.20247 12.1955 5.20247H13.4073C14.0565 5.20247 14.5963 4.66274 14.5963 4.01351V2.10921C14.5963 1.49854 14.1212 0.979129 13.5139 0.924316C13.5134 0.924316 13.5128 0.924316 13.5123 0.924316C13.3938 0.913949 12.574 0.848633 11.5372 0.848633ZM11.5372 2.09863C12.4863 2.09863 13.3387 2.16681 13.3463 2.16699V3.95247H12.1955C11.2346 3.95247 10.4426 4.7445 10.4426 5.7054L10.4166 7.70003C10.4155 7.78279 10.4309 7.86493 10.4618 7.9417C10.4927 8.01847 10.5386 8.08833 10.5967 8.14723C10.6549 8.20613 10.7242 8.25289 10.8005 8.28481C10.8769 8.31673 10.9588 8.33317 11.0416 8.33317H13.1021C13.2378 8.33317 13.3244 8.43156 13.3088 8.56592L13.164 9.8151C13.151 9.92594 13.0674 9.99984 12.9565 9.99984H11.0416C10.8758 9.99985 10.7169 10.0657 10.5997 10.1829C10.4824 10.3001 10.4166 10.4591 10.4166 10.6248V18.1248C10.4166 18.2478 10.3312 18.3332 10.2082 18.3332H8.54157C8.41864 18.3332 8.33324 18.2478 8.33324 18.1248V10.6248C8.33322 10.4591 8.26737 10.3001 8.15016 10.1829C8.03296 10.0657 7.874 9.99985 7.70824 9.99984L5.64525 10.0015C5.64498 10.0015 5.64471 10.0015 5.64444 10.0015C5.5239 10.0016 5.43821 9.91584 5.43611 9.79395L5.4239 8.54313C5.4227 8.41997 5.50875 8.33317 5.63223 8.33317H7.70743C7.87318 8.33315 8.03214 8.2673 8.14935 8.15009C8.26656 8.03289 8.33241 7.87393 8.33243 7.70817V5.62484C8.33243 4.38907 8.63819 3.52418 9.1503 2.96777C9.66241 2.41137 10.4173 2.09863 11.5372 2.09863Z" fill="#5B5B5B" />
      </svg>


      <svg
        width="20"
        height="20"
        viewBox="0 0 20 20"
        fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path d="M9.99935 1.6665C5.40438 1.6665 1.66602 5.40487 1.66602 9.99984C1.66602 14.5948 5.40438 18.3332 9.99935 18.3332C14.5943 18.3332 18.3327 14.5948 18.3327 9.99984C18.3327 5.40487 14.5943 1.6665 9.99935 1.6665ZM9.99935 2.9165C13.9188 2.9165 17.0827 6.08042 17.0827 9.99984C17.0827 13.9193 13.9188 17.0832 9.99935 17.0832C9.40206 17.0832 8.82532 17.0019 8.27165 16.8634C8.47159 16.4567 8.60602 16.0561 8.72005 15.637L9.14974 13.9419C9.59974 14.3669 10.2327 14.5832 11.041 14.5832C13.2243 14.5832 14.9993 12.3873 14.9993 9.68734C14.9993 7.0165 12.8493 4.99984 9.99935 4.99984C7.24102 4.99984 4.99935 7.104 4.99935 9.68734C4.99935 10.929 5.47848 12.0585 6.32015 12.8669C6.42015 12.9627 6.59118 12.9082 6.62451 12.7749L6.85807 11.804C6.88307 11.704 6.85781 11.6002 6.79948 11.5127C6.49948 11.0877 6.24935 10.4957 6.24935 9.68734C6.24935 7.7915 7.93268 6.24984 9.99935 6.24984C10.341 6.24984 13.3327 6.34984 13.3327 9.7915C13.3327 11.4957 12.5493 13.3332 10.8327 13.3332C10.3993 13.304 10.0906 13.1619 9.91146 12.9328C9.60313 12.5244 9.67819 11.8329 9.76986 11.4704L10.0913 10.2122C10.1746 9.87891 10.2077 9.59535 10.2077 9.35368C10.2077 8.54118 9.71602 8.12484 9.16602 8.12484C8.42435 8.12484 7.91602 8.91204 7.91602 9.69954C7.91602 10.1287 7.98268 10.5876 8.12435 10.9959L7.17871 14.9209C7.17871 14.9209 7.08268 15.1748 7.08268 16.0081C7.08268 16.0921 7.09733 16.3123 7.10384 16.4622C4.63433 15.3571 2.91602 12.8859 2.91602 9.99984C2.91602 6.08042 6.07993 2.9165 9.99935 2.9165Z" fill="#5B5B5B" />
      </svg>


      <svg
        width="20"
        height="20"
        viewBox="0 0 20 20"
        fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path d="M4.37435 3.3335C2.88604 3.3335 1.66602 4.55352 1.66602 6.04183V13.9585C1.66602 15.4468 2.88604 16.6668 4.37435 16.6668H15.6243C17.1127 16.6668 18.3327 15.4468 18.3327 13.9585V6.04183C18.3327 4.55352 17.1127 3.3335 15.6243 3.3335H4.37435ZM4.37435 4.5835H15.6243C16.4369 4.5835 17.0827 5.2293 17.0827 6.04183V6.50244L9.99935 10.3314L2.91602 6.50244V6.04183C2.91602 5.2293 3.56182 4.5835 4.37435 4.5835ZM2.91602 7.92334L9.70231 11.592C9.79356 11.6412 9.89564 11.667 9.99935 11.667C10.1031 11.667 10.2051 11.6412 10.2964 11.592L17.0827 7.92334V13.9585C17.0827 14.771 16.4369 15.4168 15.6243 15.4168H4.37435C3.56182 15.4168 2.91602 14.771 2.91602 13.9585V7.92334Z" fill="#5B5B5B" />
      </svg>

    </summary>
    <div class="share-button__fallback motion-reduce">
      <div class="field">
        <span
          id="ShareMessage-{{ section.id }}"
          class="share-button__message hidden"
          role="status"></span>
        <input
          type="text"
          class="field__input"
          id="ShareUrl-{{ section.id }}"
          value="{{ share_link }}"
          placeholder="{{ 'general.share.share_url' | t }}"
          onclick="this.select();"
          readonly>
        <label class="field__label" for="ShareUrl-{{ section.id }}">{{ 'general.share.share_url' | t }}</label>
      </div>
      <button class="share-button__close hidden no-js-hidden">
        {% render 'icon-close' %}
        <span class="visually-hidden">{{ 'general.share.close' | t }}</span>
      </button>
      <button class="share-button__copy no-js-hidden">
        {% render 'icon-clipboard' %}
        <span class="visually-hidden">{{ 'general.share.copy_to_clipboard' | t }}</span>
      </button>
    </div>
  </details>
</share-button>