{% style %}
  .custom-image-banner-section {
    width: 100%;
  }

  .custom-image-banner-container {
    position: relative;
    margin: auto;
    overflow: hidden;
  }

  .custom-image-banner-image {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .custom-image-banner-overlay {
    position: absolute;
    inset: 0;
  }

  .custom-image-banner-content {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    z-index: 2;
  }

  .custom-position-top-left {
    justify-content: flex-start;
    align-items: flex-start;
  }

  .custom-position-top-center {
    justify-content: flex-start;
    align-items: center;
  }

  .custom-position-top-right {
    justify-content: flex-start;
    align-items: flex-end;
  }

  .custom-position-center-left {
    justify-content: center;
    align-items: flex-start;
  }

  .custom-position-center {
    justify-content: center;
    align-items: center;
  }

  .custom-position-center-right {
    justify-content: center;
    align-items: flex-end;
  }

  .custom-position-bottom-left {
    justify-content: flex-end;
    align-items: flex-start;
  }

  .custom-position-bottom-center {
    justify-content: flex-end;
    align-items: center;
  }

  .custom-position-bottom-right {
    justify-content: flex-end;
    align-items: flex-end;
  }

  .text-left {
    text-align: left;
  }

  .text-center {
    text-align: center;
  }

  .text-right {
    text-align: right;
  }

  .custom-image-banner-heading {
    margin: 0;
    font-weight: 700;
    line-height: 1.1;
  }

  .custom-image-banner-subheading {
    margin-top: 10px;
  }

  .custom-image-banner-button {
    margin-top: 25px;
    text-decoration: none;
    padding: 14px 30px;
    display: inline-block;
  }

  @media(max-width: 768px) {
    .custom-image-banner-container {
      height: var(--mobile-height);
    }
    .custom-image-banner-content {
      padding: 25px;
    }
    .custom-image-banner-heading {
      font-size: 28px !important;
    }
    .custom-image-banner-subheading {
      font-size: 15px !important;
    }
  }
{% endstyle %}

{% if section.settings.background_image != blank %}
  <div class="custom-image-banner-section" style="
    margin-top:{{ section.settings.margin_top }}px;
    margin-bottom:{{ section.settings.margin_bottom }}px;
  ">
    <div class="custom-image-banner-container custom-position-{{ section.settings.content_position }}" style="
      max-width:{{ section.settings.max_width }}px;
      height:{{ section.settings.desktop_height }}px;
      border-radius:{{ section.settings.border_radius }}px;
       
    ">

      {% if section.settings.background_image != blank %}
        {{
          section.settings.background_image | image_url: width: 2000 | image_tag: class: 'custom-image-banner-image', loading: 'lazy'
        }}
      {% endif %}

      <div class="custom-image-banner-overlay" style="
        background:{{ section.settings.overlay_color }};
        opacity:{{ section.settings.overlay_opacity | divided_by: 100.0 }};
      ">
</div>

      <div class="custom-image-banner-content text-{{ section.settings.text_alignment }}" style="
    padding-top:{{ section.settings.content_padding_top }}px;
    padding-bottom:{{ section.settings.content_padding_bottom }}px;
    padding-left:{{ section.settings.content_padding_left }}px;
    padding-right:{{ section.settings.content_padding_right }}px;
  ">

        {% if section.settings.heading != blank %}
          <h2 class="custom-image-banner-heading" style="
            color:{{ section.settings.heading_color }};
            font-size:{{ section.settings.heading_size }}px;
          ">
            {{ section.settings.heading }}
          </h2>
        {% endif %}

        {% if section.settings.subheading != blank %}
          <div class="custom-image-banner-subheading" style="
            color:{{ section.settings.subheading_color }};
            font-size:{{ section.settings.subheading_size }}px;
          ">
            For {{ product.title }}
          </div>
        {% endif %}

        {% if section.settings.button_text != blank %}
          <a
            href="{{ section.settings.button_link }}"
            class="custom-image-banner-button"
            style="
            background:{{ section.settings.button_bg }};
            color:{{ section.settings.button_color }};
            border-radius:{{ section.settings.button_radius }}px;
          ">
            {{ section.settings.button_text }}
          </a>
        {% endif %}

      </div>

    </div>
  </div>
{% endif %}
{% schema %}
  {
    "name": "Custom Image Text Banner",
    "settings": [
      {
        "type": "image_picker",
        "id": "background_image",
        "label": "Background Image"
      },
      {
        "type": "image_picker",
        "id": "mobile_background_image",
        "label": "Mobile Background Image"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "CUSTOMER REVIEWS"
      },
      {
        "type": "text",
        "id": "subheading",
        "label": "Subheading",
        "default": "For Multi Vitamin C Serum"
      }, {
        "type": "range",
        "id": "heading_size",
        "label": "Heading Size",
        "min": 20,
        "max": 80,
        "step": 2,
        "default": 48
      }, {
        "type": "range",
        "id": "subheading_size",
        "label": "Subheading Size",
        "min": 10,
        "max": 40,
        "step": 1,
        "default": 16
      }, {
        "type": "color",
        "id": "heading_color",
        "label": "Heading Color",
        "default": "#FFFFFF"
      }, {
        "type": "color",
        "id": "subheading_color",
        "label": "Subheading Color",
        "default": "#FFFFFF"
      }, {
        "type": "select",
        "id": "text_alignment",
        "label": "Text Alignment",
        "options": [
          {
            "value": "left",
            "label": "Left"
          }, {
            "value": "center",
            "label": "Center"
          }, {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "center"
      }, {
        "type": "text",
        "id": "button_text",
        "label": "Button Text"
      }, {
        "type": "url",
        "id": "button_link",
        "label": "Button Link"
      }, {
        "type": "color",
        "id": "button_bg",
        "label": "Button Background",
        "default": "#FFFFFF"
      }, {
        "type": "color",
        "id": "button_color",
        "label": "Button Text Color",
        "default": "#000000"
      }, {
        "type": "range",
        "id": "button_radius",
        "label": "Button Border Radius",
        "min": 0,
        "max": 50,
        "step": 1,
        "default": 6
      }, {
        "type": "range",
        "id": "content_padding_top",
        "label": "Content Padding Top",
        "min": 0,
        "max": 150,
        "step": 5,
        "default": 40
      }, {
        "type": "range",
        "id": "content_padding_bottom",
        "label": "Content Padding Bottom",
        "min": 0,
        "max": 150,
        "step": 5,
        "default": 40
      }, {
        "type": "range",
        "id": "content_padding_left",
        "label": "Content Padding Left",
        "min": 0,
        "max": 150,
        "step": 5,
        "default": 40
      }, {
        "type": "range",
        "id": "content_padding_right",
        "label": "Content Padding Right",
        "min": 0,
        "max": 150,
        "step": 5,
        "default": 40
      }, {
        "type": "range",
        "id": "margin_top",
        "label": "Section Margin Top",
        "min": 0,
        "max": 150,
        "step": 5,
        "default": 30
      }, {
        "type": "range",
        "id": "margin_bottom",
        "label": "Section Margin Bottom",
        "min": 0,
        "max": 150,
        "step": 5,
        "default": 30
      }, {
        "type": "range",
        "id": "max_width",
        "label": "Max Width",
        "min": 600,
        "max": 1800,
        "step": 20,
        "unit": "px",
        "default": 1240
      }, {
        "type": "range",
        "id": "desktop_height",
        "label": "Desktop Height",
        "min": 200,
        "max": 900,
        "step": 10,
        "unit": "px",
        "default": 340
      }, {
        "type": "range",
        "id": "border_radius",
        "label": "Border Radius",
        "min": 0,
        "max": 50,
        "step": 1,
        "unit": "px",
        "default": 20
      },  {
        "type": "range",
        "id": "mobile_height",
        "label": "Mobile Height",
        "min": 150,
        "max": 700,
        "step": 10,
        "default": 250
      }, {
        "type": "color",
        "id": "overlay_color",
        "label": "Overlay Color",
        "default": "#000000"
      }, {
        "type": "range",
        "id": "overlay_opacity",
        "label": "Overlay Opacity",
        "min": 0,
        "max": 100,
        "step": 5,
        "default": 50
      }
    ],
    "presets": [
      {
        "name": "Image Text Banner"
      }
    ]
  }
{% endschema %}